{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "jsxSingleQuote": false,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true
}
